{% extends "base.html" %}
{%load static%}
<!DOCTYPE html>
{% block content%}
	<head>
	<link rel="stylesheet" href={% static 'apply.css' %}> 
	</head>
	
	<body>
        {% if submitted %}
        Your application was successful!!!
        {%else%}
        <div>
            <form action="" method= POST>
                {% csrf_token %}
                <h2>Grant Application Form</h2>
                {{ form.as_p}}
                <!-- <label for="projectTitle">Project Title:</label>
                <input type="text" id="projectTitle" name="projectTitle" required>
        
                <label for="projectDescription">Project Description:</label>
                <textarea id="projectDescription" name="projectDescription" rows="4" required></textarea>
        
                <label for="additionalInfo">Additional Information:</label>
                <textarea id="additionalInfo" name="additionalInfo" rows="4"></textarea>
                <label for="phone">Phone:</label>
                <input type="tel" id="phone" name="phone" required> -->
        
                
                <input type="submit" value="Submit">
            </form>
            </div>
        {% endif%}
		
		

	</body>
	{% endblock content %}
</html>

